======= Schedule part start ======= -->
<section id="schedule" class="schedule-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title">
          <h1>class <span>schedule</span></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="schedule slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
          <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 5700px; transform: translate3d(-3420px, 0px, 0px);"><div class="schedule-dec slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1140px;">
            <div class="schedule-title">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>22</span> august <span>‘16</span> sunday
            </div>
            <div class="schedule-timing">
              <h2>appointment:</h2>
              <ul>
                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>
              </ul>
            </div>
          </div><div class="schedule-dec slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1140px;">
            <div class="schedule-title">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>22</span> august <span>‘16</span> sunday
            </div>
            <div class="schedule-timing">
              <h2>appointment:</h2>
              <ul>
                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>
              </ul>
            </div>
          </div><div class="schedule-dec slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 1140px;">
            <div class="schedule-title">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>22</span> august <span>‘16</span> sunday
            </div>
            <div class="schedule-timing">
              <h2>appointment:</h2>
              <ul>
                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>
              </ul>
            </div>
          </div><div class="schedule-dec slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 1140px;">
            <div class="schedule-title">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>22</span> august <span>‘16</span> sunday
            </div>
            <div class="schedule-timing">
              <h2>appointment:</h2>
              <ul>
                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="0">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="0">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="0">book training</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="0">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="0">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="0">unavailable</a></li>
              </ul>
            </div>
          </div><div class="schedule-dec slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 1140px;">
            <div class="schedule-title">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              <span>22</span> august <span>‘16</span> sunday
            </div>
            <div class="schedule-timing">
              <h2>appointment:</h2>
              <ul>
                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a class="hvr-shutter-out-vertical" href="" tabindex="-1">book training</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>

                <li class="unavailable"><span><i class="fa fa-clock-o" aria-hidden="true"></i>7.00am-8.00am</span>1 time slot available<a href="" tabindex="-1">unavailable</a></li>
              </ul>
            </div>
          </div></div></div>
          <!-- single schedule -->

          <!--  single schedule  -->

          <!--  single schedule  -->
        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button></div>
      </div>
    </div>
  </div>
</section>