<!-- Trainer part -->
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="trainer-part">
          <%= image_tag 'trainer/02.jpg' %>
          <div class="trainer-dec">
            <h3>lily adams</h3>
            <h4>Yoga Instructor</h4>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
          </div>
          <!-- Trainer Social Links -->
          <div class="trainer-social-link">
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
        <!-- Trainer part -->
      </div>
      <!-- <div class="col-sm-6 col-md-3">
        <div class="trainer-part">
          <%= image_tag 'trainer/03.jpg' %>
          <div class="trainer-dec">
            <h3>Andrew. russell</h3>
            <h4>Weight Trainer</h4>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
          </div> -->
          <!-- Trainer Social Links -->
          <!-- <div class="trainer-social-link">
            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div> -->
        <!-- Trainer part -->
      </div>
      </div>
    </div>
  </div>
</section>
    <!-- ======= trainer part end ======= -->
