<header class="header-area menu-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-2 col-md-2">
        <!-- Header logo -->
        <div class="logo">
          <a href="#">
            <%= image_tag 'logo.png' %>
          </a>
        </div>
      </div>
    <div class="col-xs-7 col-sm-10 col-md-10">

</header>
