<section id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'fadeIn' %>
      <div class="carousel-caption">
        <div class="gym-slider">
          <div class="gym-single-slider">
            <h1 class="animated fadeInDown">it’s <span>gym</span> time.let’s <span>go</span></h1>
            <h2 class="animated slideInRight">we are ready to <span>fit</span> you</h2>
            <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-in-vertical animated fadeIn">learn more</a>
            <a href="" class="gym-btn transparent-btn  btn-padding hvr-shutter-out-vertical animated fadeIn">join now</a>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag 'slider2.jpg', class: 'fadeIn' %>
      <div class="carousel-caption">
        <div class="gym-slider">
          <div class="gym-single-slider">
            <h1 class="animated fadeInDown">what's your <span>mind</span> belives</h1>
            <h2 class="animated slideInRight">yes you can <span>do</span> it<span>.</span></h2>
            <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-in-vertical animated fadeIn">learn more</a>
            <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-out-vertical animated fadeIn">join now</a>
          </div>
        </div>
      </div>
    </div>

      <div class="carousel-item">
        <%= image_tag 'slider3.jpg', class: 'fadeIn' %>
        <div class="carousel-caption">
          <div class="gym-slider">
            <div class="gym-single-slider">
              <h1 class="animated fadeInDown">MAKE <span>IT </span>HAPPEN!</h1>
              <h2 class="animated slideInRight">WINING IS <span>EASIER THAN</span> YOU THINK!</h2>
              <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-in-vertical animated fadeIn">learn more</a>
              <a href="" class="gym-btn transparent-btn btn-padding hvr-shutter-out-vertical animated fadeIn">join now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>