<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>New message from Total Venom website!, from <%= "#{@contact.name}, #{@contact.email}" %></p>
      </br>
      <p><%= @contact.name %></p>
      <p><%= @contact.phone %></p>
      <p><%= @contact.message %></p>

  </body>
</html>
